body {
    background-color: rgb(142, 142, 255);
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Arial, sans-serif;
    height: 70vh;
}

.mans-cointeiners {
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    padding: 20px;

}

.calc-konteirs {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: #92ccfe;
    padding: 20px;
    border-radius: 10px;
}

.input-konteirs {
    width: 45%;
    display: flex;
    flex-direction: column;
    background: #8ac6bf;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    align-items: center;
}

.input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

