        /*https://coolors.co/palette/03045e-023e8a-0077b6-0096c7-00b4d8-48cae4-90e0ef-ade8f4-caf0f8*/
body {
    background-color: #03045e;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Monospace;
    height: 70vh;
}

.mans-cointeiners {
    background-color: #023e8a;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 15px #0077b6;
    padding: 20px;

}

.calc-konteirs {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: #0096c7;
    padding: 20px;
    border-radius: 10px;
}

.input-konteirs {
    width: 45%;
    display: flex;
    flex-direction: column;
    background: #00b4d8;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px 48cae4;
    align-items: center;
}

.input-group, .output-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: 5px;
}

.button-group {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.rezult-konteiner {
    width: 45%;
    background: #90e0ef;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ade8f4;
    text-align: center;
}

input, button {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #023e8a;
    border-radius: 5px;
}

button {
    width: 93%;
    background: #caf0f8;
    color: white;
    cursor: pointer;
}

.result-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

input {
    width: 90%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #0096c7;
    text-align: center;
}